body {
    background-color: rgb(167, 167, 167);
    max-width: 1000px;
    margin: auto;
}

.image {
    border-radius: 30%;
}

#title, .subtitle, .list {
    color: aqua;
    font-family: sans-serif;
}

#title {
    font-weight: bold;
    text-transform: uppercase;
}

.list {
    font-style: italic;
    text-decoration: underline;
}

.text {
    background-color: coral;
    padding: 15px 12px 9px 0;
    border: 3px solid black;
    margin-left: 10px;
    text-align: justify;
}

.list_content {
    list-style-type: square;
    padding-left: 20px;
}
